.property-typeheader{
    margin-top: 12px;
    font-size: 57px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 350px;
}